body {
  margin: 0;
  font-family: "Vazirmatn RD", sans-serif;
  font-size: 1rem;
  direction: rtl;
  background-color: #18191A;
  color: white;
}
header, main, footer {
  background: #242526;
  width: 95%;
  box-sizing: border-box;
  padding: 1em;
  margin: 1rem auto;
}
header h1 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
}
.radius {
  border-radius: 4px;
}
.bb {
  background-color: #0066ff;
  color: white;
  margin: 0.5rem;
  font-weight: normal;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.bb:hover {
  background-color: #005ce6;
}
main {
  direction: ltr;
}
main section:first-child, main section:last-child div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main section:first-child h2 {
  padding: 1rem;
  font-size: 8rem;
  text-align: center;
  flex: 0 1 auto;
  line-height: normal;
  margin: 0;
}
input {
  flex: 2 1 auto;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 1rem;
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #3A3B3C;
  color: white;
  font: inherit;
  font-size: 2rem;
}
button {
  flex: 1 1 auto;
  background-color: #0066ff;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0 4px 4px 0;
  font: inherit;
  font-size: 1rem !important;
  border: none;
}
button:hover {
  background-color: #005ce6;
}
input:focus {
  outline: none;
  color: white;
}
label {
  padding: 1rem 0;
  text-align: center;
  display: block;
  color: #E4E6EB;
}
footer h3 {
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: normal;
}
footer h3 span {
  color: red;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
::selection {
  background-color: white;
  color: #18191A;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
@font-face {
  font-family: Vazirmatn RD;
  src: url('fonts/Vazirmatn-RD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazirmatn RD;
  src: url('fonts/Vazirmatn-RD-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@media screen and (max-width: 560px) {
  input {
    border-radius: 4px 4px 0 0;
  }
  button {
    border-radius: 0 0 4px 4px;
  }
}
@media screen and (max-width: 520px) {
  section:first-child {
    flex-flow: column nowrap !important;
  }
  h2 {
    line-height: 100% !important;
  }
  h2:first-child {
    margin-top: 1rem !important;
  }
}